---
## Working v2 Code Cells

In [1]:
# 0) Constants and engine (v2 layout)
!pip install s3fs

import pandas as pd, numpy as np, s3fs, re
from sqlalchemy.engine import create_engine

FS_OPTS = {
    "key": "minio-root-user",
    "secret": "minio-root-password",
    "client_kwargs": {"endpoint_url": "http://minio:9000"},
}
SRC_GLOB = "demo-bucket/warehouse/finance/yahoo/curated_price/date=*/part-*.parquet"
ENGINE = create_engine("trino://user@trino:8080/iceberg/curated")
print("Constants set. SRC_GLOB =", SRC_GLOB)

Requirement already satisfied: s3fs in /opt/conda/lib/python3.11/site-packages (2025.9.0)
Requirement already satisfied: aiobotocore<3.0.0,>=2.5.4 in /opt/conda/lib/python3.11/site-packages (from s3fs) (2.24.2)
Requirement already satisfied: fsspec==2025.9.0 in /opt/conda/lib/python3.11/site-packages (from s3fs) (2025.9.0)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /opt/conda/lib/python3.11/site-packages (from s3fs) (3.12.15)
Requirement already satisfied: aioitertools<1.0.0,>=0.5.1 in /opt/conda/lib/python3.11/site-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs) (0.12.0)
Requirement already satisfied: botocore<1.40.19,>=1.40.15 in /opt/conda/lib/python3.11/site-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs) (1.40.18)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.11/site-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs) (2.9.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/conda/lib/python3.11/site-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs) (1.0.1)
Requirement already satisfied: multidict<7.0.0,>=6.0.0 in /opt/conda/lib/python3.11/site-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs) (6.6.4)
Requirement already satisfied: wrapt<2.0.0,>=1.10.10 in /opt/conda/lib/python3.11/site-packages (from aiobotocore<3.0.0,>=2.5.4->s3fs) (1.17.3)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /opt/conda/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (2.6.1)
Requirement already satisfied: aiosignal>=1.4.0 in /opt/conda/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.4.0)
Requirement already satisfied: attrs>=17.3.0 in /opt/conda/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (24.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/conda/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.7.0)
Requirement already satisfied: propcache>=0.2.0 in /opt/conda/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (0.3.2)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /opt/conda/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.20.1)
Requirement already satisfied: typing-extensions>=4.2 in /opt/conda/lib/python3.11/site-packages (from aiosignal>=1.4.0->aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (4.12.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /opt/conda/lib/python3.11/site-packages (from botocore<1.40.19,>=1.40.15->aiobotocore<3.0.0,>=2.5.4->s3fs) (2.2.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil<3.0.0,>=2.1->aiobotocore<3.0.0,>=2.5.4->s3fs) (1.16.0)
Requirement already satisfied: idna>=2.0 in /opt/conda/lib/python3.11/site-packages (from yarl<2.0,>=1.17.0->aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (3.10)
Constants set. SRC_GLOB = demo-bucket/warehouse/finance/yahoo/curated_price/date=*/part-*.parquet

In [2]:
# 1) Load curated Parquet (v2 path/partition), Pandas only
fs = s3fs.S3FileSystem(**FS_OPTS)
paths = fs.glob(SRC_GLOB)
if not paths:
    raise RuntimeError(f"No files found at s3://{SRC_GLOB}")
df = pd.concat([pd.read_parquet(f"s3://{p}", storage_options=FS_OPTS) for p in paths], ignore_index=True)
df.columns = [c.strip() for c in df.columns]
print("Rows loaded:", len(df), " Columns:", list(df.columns))

Rows loaded: 240  Columns: ['ts', 'adj close', 'close', 'high', 'low', 'open', 'volume', 'ticker', 'ingest_date', 'date']

In [3]:
# 2) Pandas mean(close) by ticker
means_py = (
    df.assign(close=pd.to_numeric(df["close"], errors="coerce"))
      .dropna(subset=["close"])
      .groupby("ticker", as_index=False)["close"]
      .mean()
      .rename(columns={"close":"avg_close"})
      .sort_values("ticker")
      .reset_index(drop=True)
)
means_py.head(20)

  ticker   avg_close
0   AAPL  231.592499
1   AMZN  228.249500
2  GOOGL  210.719001
3   MSFT  509.965500

In [4]:
# 3) Ensure schema & table (Iceberg via Trino)
with ENGINE.begin() as conn:
    conn.exec_driver_sql("CREATE SCHEMA IF NOT EXISTS iceberg.yfinance")
    conn.exec_driver_sql("""CREATE TABLE IF NOT EXISTS iceberg.yfinance.fact_price (
  ticker VARCHAR,
  ts TIMESTAMP(3) WITH TIME ZONE,
  open DOUBLE, high DOUBLE, low DOUBLE, close DOUBLE,
  volume BIGINT,
  ingest_date VARCHAR
) WITH (partitioning = ARRAY['day(ts)'])
""")
print("Schema/table ensured.")

Schema/table ensured.

In [5]:
# 4) Insert into Iceberg in chunks (from v2 curated Parquet)
def sql_literal(s: str) -> str:
    return str(s).replace("'", "''")

use = df[["ticker","ts","open","high","low","close","volume","ingest_date"]].copy()
use["ts"] = pd.to_datetime(use["ts"], utc=True)
for c in ["open","high","low","close"]:
    use[c] = pd.to_numeric(use[c], errors="coerce")
use["volume"] = pd.to_numeric(use["volume"], errors="coerce").astype("Int64")
use["ingest_date"] = use["ingest_date"].astype(str)

rows, chunk = 0, 400
for part in np.array_split(use, max(1, int(np.ceil(len(use)/chunk)))):
    if part.empty:
        continue
    values = []
    for _, r in part.iterrows():
        ts_iso = pd.to_datetime(r["ts"], utc=True).isoformat()
        values.append("("
          f"'{sql_literal(r['ticker'])}', "
          f"from_iso8601_timestamp('{sql_literal(ts_iso)}'), "
          f"{'NULL' if pd.isna(r['open']) else r['open']}, "
          f"{'NULL' if pd.isna(r['high']) else r['high']}, "
          f"{'NULL' if pd.isna(r['low']) else r['low']}, "
          f"{'NULL' if pd.isna(r['close']) else r['close']}, "
          f"{'NULL' if pd.isna(r['volume']) else int(r['volume'])}, "
          f"'{sql_literal(r['ingest_date'])}'"
        ")")
    sql = "INSERT INTO iceberg.yfinance.fact_price (ticker, ts, open, high, low, close, volume, ingest_date) VALUES " + ",".join(values)
    with ENGINE.begin() as conn:
        conn.exec_driver_sql(sql)
    rows += len(values)
print("Inserted rows:", rows)

Inserted rows: 240

In [6]:
# 5) SQL verification and compare with Pandas
with ENGINE.connect() as conn:
    res = conn.exec_driver_sql("""        SELECT ticker, AVG(close) AS avg_close
        FROM iceberg.yfinance.fact_price
        GROUP BY ticker
        ORDER BY ticker
    """).fetchall()
means_sql = pd.DataFrame(res, columns=["ticker","avg_close"]).sort_values("ticker").reset_index(drop=True)

cmp = means_py.merge(means_sql, on="ticker", how="outer", suffixes=("_py","_sql"))
cmp["diff"] = (cmp["avg_close_py"] - cmp["avg_close_sql"]).abs()
cmp.head(20)

  ticker  avg_close_py  avg_close_sql  diff
0   AAPL    231.592499     231.592499   0.0
1   AMZN    228.249500     228.249500   0.0
2  GOOGL    210.719001     210.719001   0.0
3   MSFT    509.965500     509.965500   0.0